.homeWrapper {
  width: 100%;
  height: 100vh;
}
.collectionWrapper {
  position: absolute;
  width: fit-content;
  top: 100px;
  bottom: 100px;
  left: 20%;
  overflow-y: scroll;
}
.noItems {
  font-family: "Nunuito-400";
  overflow-y: unset;
}
