.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .introWrapperOn {
    transition: 700ms;
    opacity: 1;
  }
  .introWrapperOff {
    transition: all 0.3s;
    opacity: 0;
  }
  .introWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .introSection {
      margin-bottom: 20px;
      background-color: $shadowOne;
      border-radius: 100px;
      padding: 10px 30px 50px 30px;
      color: $primary;
      text-align: center;
      h1 {
        font-family: "Nunito-400";
        font-size: 170px;
      }
      .subtitleOne {
        font-size: 34px;
        font-family: "Nunito-300";
        margin: 25px 0;
      }
      .subtitleTwo {
        font-size: 36px;
        font-family: "Nunito-400";
        display: flex;
        justify-content: center;
        gap: 27px;
        .smileIcon {
          align-self: center;
        }
      }
    }
    .arrowIcon {
      cursor: pointer;
    }
  }
}
