@import "./utils/colors";
@import ".//utils/fonts";

@import "./landingpage";
@import "./auth";
@import "./footer";
@import "./navbar";
@import "./form";
@import "./home";
@import "./books";
@import "./movies";
@import "./tvshows";
@import "./colletionItemCard";
@import "./search.scss";
@import "./reviewDetails";
@import "./comments";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landingPageBackground {
  width: 100%;
  height: 100vh;
  position: relative;
  background: conic-gradient(
    from 235.25deg at 82.36% 34.91%,
    $movies-accent 0deg,
    $primary 172.5deg,
    $tvshows-accent 360deg
  );
}
